*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

.header{
    display: flex;
    justify-content: space-between;
    margin: 0px 2em;
    align-items: center;
}

.header h1{
    margin-left: 11em;
    font-family: Inter, san-serif;
}

.nav-items{
    list-style: none;
    display: flex;
    justify-content: flex-start;
    margin-top: 2em;
}

.nav-items li{
    margin: 0px 3em;
}

.img-logo{
    width: 80px;
}

.main{
    margin: auto;
    margin-top: 7%;
    position: absolute;
    left: 40%;
    padding: 2% 0;
}

.footer{
    background-color: gray;
    margin: 0px 43%;
    position: fixed;
    bottom: 0;
    font-size: large;
}
